<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table><thead>
    <tr>
    <th align="center">Letter</th>
    <th align="center">Value</th>
    </tr>
    </thead><tbody>
    <tr>
    <td align="center">A, E, I, O, U, L, N, R, S, T</td>
    <td align="center">1</td>
    </tr>
    <tr>
    <td align="center">D, G</td>
    <td align="center">2</td>
    </tr>
    <tr>
    <td align="center">B, C, M, P</td>
    <td align="center">3</td>
    </tr>
    <tr>
    <td align="center">F, H, V, W, Y</td>
    <td align="center">4</td>
    </tr>
    <tr>
    <td align="center">K</td>
    <td align="center">5</td>
    </tr>
    <tr>
    <td align="center">J, X</td>
    <td align="center">8</td>
    </tr>
    <tr>
    <td align="center">Q, Z</td>
    <td align="center">10</td>
    </tr>
    </tbody></table>
    <a href="/">Home</a> 
    <a href="/chart">Score Chart</a> 
    <a href="/score">Score Word</a> </br></br>
  </body>
</html>
