<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">Home</a> 
    <a href="/scrabble/chart">Score Chart</a> 
    <a href="/scrabble/score">Score Word</a> </br></br>
    <img src="/images/bunny.jpg" />
  </body>
</html>
